<configuration>
  <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level %logger{20} [%thread] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>1024</queueSize>
    <neverBlock>true</neverBlock>
    <appender-ref ref="STDOUT" />
  </appender>

  <appender name="ERROR_FILE" class="ch.qos.logback.core.FileAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter"><level>ERROR</level></filter>
    <file>./logs/error.log</file>
    <encoder><pattern>%date %-5level %logger %message%n%xException</pattern></encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
      <fileNamePattern>./logs/error-log-%d{yyyy-MM-dd}.gz</fileNamePattern>
      <maxHistory>14</maxHistory>
    </rollingPolicy>
  </appender>

  <logger name="org.apache.pekko.event.slf4j.Slf4jLogger" level="WARN">
    <appender-ref ref="ASYNC"/>
  </logger>
  <logger name="org.apache.pekko.actor.DeadLetterActorRef" level="WARN">
    <appender-ref ref="ASYNC"/>
  </logger>
  <logger name="lila.ws" level="DEBUG"></logger>

  <root level="INFO">
    <appender-ref ref="ASYNC"/>
    <appender-ref ref="ERROR_FILE" />
  </root>

</configuration>
