<configuration>
  <appender name="STDOUT" target="System.out" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level %logger{20} [%thread] %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <queueSize>1024</queueSize>
    <neverBlock>true</neverBlock>
    <appender-ref ref="STDOUT" />
  </appender>

  <logger name="akka.event.slf4j.Slf4jLogger" level="WARN">
    <appender-ref ref="ASYNC"/>
  </logger>
  <logger name="akka.actor.DeadLetterActorRef" level="WARN">
    <appender-ref ref="ASYNC"/>
  </logger>

  <root level="INFO">
    <appender-ref ref="ASYNC"/>
  </root>

</configuration>
